body {
    font-family: 'Roboto', sans-serif;
    background-color: #f5f5f5; /* Fondo neutro */
    color: #333; /* Color de texto oscuro para buen contraste */
}

/* Estilo para el contenedor del header */
header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    justify-content: space-between; /* Alinea el logo a la izquierda y la barra de navegación a la derecha */
    align-items: center; /* Alinea verticalmente en el centro */
    padding: 5px 20px; /* Espaciado alrededor */
   
}

section {
    /* typical phone screen resolution */
    @media only screen and (max-width : 667px) {
    }
    /* landscape orientation */
    @media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : landscape) {
    }
    /* portrait orientation */
    @media only screen and (min-width : 375px) and (max-width : 667px) and (orientation : portrait) {
    }

    background-color: white; /* Fondo blanco */
    border-radius: 15px; /* Bordes redondeados para un look más suave */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1); /* Sombra suave para darle profundidad */
    padding: 30px; /* Espaciado interno amplio */
    text-align: center; /* Centramos el contenido */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    max-width: 95%; /* Ancho máximo para controlar el tamaño */
    margin: auto; /* Centrar el bloque en la página */
}
.boton-info {
    background-color: #cb6ce6; /* Fondo lila */
    color: white; /* Texto en blanco */
    border: none;
    border-radius: 25px; /* Bordes redondeados para el botón */
    padding: 10px 20px;
    margin:1%;
    font-size: 1em;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.logo-container {
    display: flex;
    align-items: center; /* Alinea verticalmente el logo y el título */
}

.logo {
    height: 50px; /* Ajusta el tamaño del logo */
    margin-right: 10px; /* Espaciado entre el logo y el título */
}

.titulo-ico {
    color: white;
    font-size: 24px;
    margin: 0; /* Elimina márgenes */
}


/* Estilo para la barra de navegación */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; /* Alinea los elementos de la lista en una fila */
}

    nav ul li {
        margin-left: 2%;
    }

        nav ul li a {
            text-decoration: none;
            color: white;
            padding: 10px 15px;
            background-color: #cb6ce6; /* Color del fondo de los botones */
            border-radius: 20px;
            transition: background-color 0.3s ease;
        }

            nav ul li a:hover {
                background-color: black; /* Cambia de color cuando pasas el mouse */
            }
.text-index{
    margin:20%;
    padding:10%;
    align-content:center;
    justify-content:center;
    z-index:10;
}

    .image-index{
        z-index:5;
    }
